:root {
  --fs-smol: 7pt;
  --fs-def: 9pt;
  --fs-large: 11pt;
  --line-height: 120%;
  --indent-size: 5mm;
}

/* Reset margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: var(--line-height);
}

/* Ensure no additional margins when printing */
@page {
  margin: 0;
}

/* Define the A4 page size with 5mm margins */
.page {
  width: 21cm;
  /* Full width of A4 */
  height: 29.7cm;
  /* Full height of A4 */
  padding: 5mm;
  /* 5mm padding around content */
  /*uncomment to see page edges when debugging*/
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  page-break-after: always;
}

/* Typography */
body {
  font-family: "Corbel", sans-serif;
  font-size: var(--fs-def);
  line-height: var(--line-height);
  background-color: white;
  color: black;
}


table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  font-size: var(--fs-def);
  line-height: var(--line-height);
}

th, td {
  padding: 0;
  margin: 0;
  border: none;
  font-size: inherit;
  line-height: var(--line-height);
}

/* header {} */

h1 {
  display: flex;
  align-items: bottom;
  font-size: var(--fs-large);
  height: 0.4cm;
  padding: 0 0 1mm 5.0mm;
}

.with-clef {
  background-image: url('img/clef.svg');
  background-size: 105%;
  background-position: -.95mm 0;
  /* background-clip: none;  */

  background-origin: 0 0;
  /* Make the background image relative to the content box */
  /* white shadow for contrast? */
  text-shadow: 0.5px 0 0.5px #ffffff, -0.5px 0 0.5px #ffffff;
}


/* Two-column Layout */
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7mm;
  /* Gap between the two columns */
  flex-grow: 1;
  /* Allows the columns to take up available space */
}

/* Ensuring columns stack content at the top */
.column {
  display: flex;
  flex-direction: column;
}

p {
  text-align: justify;
}

.small {
  font-size: var(--fs-smol);
}

.large {
  font-size: var(--fs-large);
}


.name-title {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.align-right {
  text-align: right;
}

.align-right {
  text-align: left;
}

.indented {
  padding-left: var(--indent-size);
}

.alignment-type::after {
  content: ", ";
}

.age::before {
  content: "Age ";
  font-weight: bold;
}

.init::before {
  content: "Init ";
  font-weight: bold;
}

.init::after {
  content: "; ";
}

.senses::before {
  content: "Senses ";
  font-weight: bold;
}

.ac-full::before {
  content: "AC ";
  font-weight: bold;
}

.ac-touch::before {
  content: "; Touch ";
}

.ac-flat-footed::before {
  content: "; Flat-footed ";
}

.special-def {
  font-size: var(--fs-smol);
}

.special-def:before {
  content: "Special Defences: ";
  font-weight: bold;
}

/* Set the first column */
.table-save td, .table1 th {
  width: var(--indent-size);
  text-align: right;
}

.table-save td:nth-child(1), .table1 th:nth-child(1) {
  font-weight: bold;
  text-align: left;
  width: calc(2 * var(--indent-size));
}

.table-save td:nth-child(even), .table1 th:nth-child(even) {
  width: calc(1*var(--indent-size));
  text-align: left;
  /* background-color: lightgray; */
}

.table-save td:nth-child(2), .table1 th:nth-child(2),
.table-save td:nth-child(4), .table1 th:nth-child(4) {
  text-align: right;
  width: var(--indent-size);
}

.table-save td:nth-last-child(2), .table1 th:nth-child(2) {
  width: calc(2*var(--indent-size));
  font-weight: bold;
  text-align: right;
}

.table-save td:nth-last-child(1), .table1 th:nth-child(1) {
  width: auto;
  text-align: left;
}


