:root {
  --fs-smol: 8pt;
  --fs-def: 10pt;
  --fs-large: 12pt;
  --line-height: 120%;
  --indent-size: 6mm;
  --break-height: calc(var(--fs-large) );
}

/* Reset margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: var(--line-height);
}

/* Ensure no additional margins when printing */
@page {
  margin: 0;
}

/* Define the A4 page size with 5mm margins */
.page {
  width: 21cm;
  /* Full width of A4 */
  height: 29.7cm;
  /* Full height of A4 */
  padding: 5mm;
  /* 5mm padding around content */
  /*uncomment to see page edges when debugging*/
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  page-break-after: always;
}

/* Typography */
body {
  font-family: "Corbel", sans-serif;
  font-size: var(--fs-def);
  line-height: var(--line-height);
  background-color: white;
  color: black;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  font-size: var(--fs-def);
  line-height: var(--line-height);
}

th, td {
  padding: 0;
  margin: 0;
  border: none;
  font-size: inherit;
  line-height: var(--line-height);
}

/* header {} */

h1 {
  display: flex;
  align-items: bottom;
  font-size: var(--fs-def);
  height: var(--break-height);
}

.with-bars { 
    background-image: 
        linear-gradient(black, black), /* Top line */
        linear-gradient(black, black); /* Bottom line */
    background-size: 100% 1px, 100% 1px; /* Thickness of the lines */
    background-position: top center, bottom center; /* Positioning of the lines */
    background-repeat: no-repeat;  
    padding: 0 0 1mm 0;
}

/* Two-column Layout */
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7mm;
  /* Gap between the two columns */
  flex-grow: 1;
  /* Allows the columns to take up available space */
}

/* Ensuring columns stack content at the top */
.column {
  display: flex;
  flex-direction: column;
}

p {
  text-align: justify;
}

.primary-text {
  font-size: var(--fs-def);
}

.secondary-text {
  font-size: var(--fs-smol);
}

.small {
  font-size: var(--fs-smol);
}

.large {
  font-size: var(--fs-large);
}

.name-title {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.indented {
  padding-left: var(--indent-size);
}

.fixed-width {
  width: var(--indent-size)
}

/* The HP + saves table */

.table-save td, .table1 th {
  width: var(--indent-size);
  text-align: right;
}

.table-save td:nth-child(1) {
  font-weight: bold;
  text-align: left;
  width: calc(var(--indent-size));
}

.table-save td:nth-child(even) {
  width: calc(var(--indent-size));
  text-align: left;
}

.table-save td:nth-child(2),
.table-save td:nth-child(4) {
  text-align: right;
  width: var(--indent-size);
}

/* For the hp part after the table */

.table-save td:nth-last-child(2) {
  width: calc(2*var(--indent-size));
  font-weight: bold;
  text-align: right;
}

.table-save td:nth-last-child(1) {
  width: auto;
  text-align: left;
}

/* Attack Table */

.table-attack {
  margin-left: var(--indent-size);
  font-size: var(--fs-smol);
}

.table-attack td {
  text-align: left;
  padding-left: var(--indent-size);
  width: auto;
}

.table-attack td:nth-child(1) {
  text-align: left;
  padding-left: 0;
  width: calc(4*var(--indent-size));
}

.table-attack td:nth-child(2) {
  text-align: right;
  padding-left: 0;
  width: calc(4*var(--indent-size));
}

/* Ability Score Table */

.table-ability td:nth-child(1) {
  font-weight: bold;
  width: calc(var(--indent-size));
}

.table-ability td {
  width: calc(var(--indent-size));
}

.table-ability td:nth-child(even) {
  text-align: right;
}

.table-ability td:nth-child(3), .table-ability td:nth-child(5) {
  text-align: right;
}

/* Feats Table */

.table-feats td, th{
  font-size: var(--fs-smol);
  vertical-align: top;
}

.table-feats td:first-child{
  width: var(--indent-size);
}

/* Skill Table */

.table-skill td, th{
  font-size: var(--fs-smol);
  vertical-align: top;
  width: var(--indent-size);
  text-align: right;
}

.table-skill tr:first-child, th:first-child{
  font-weight: normal;
  font-style: italic;
}

.table-skill td:nth-child(1){
  text-align: left;
}

.table-skill td:nth-child(2){
  width: calc(5*var(--indent-size));
  text-align: left;
}

.table-skill tr:not(:first-child) td:nth-child(2) {
  font-weight: bold;
}

.table-skill td:last-child{
  width: auto;
  text-align: left;
  padding-left: var(--indent-size);
}

/* Inventory Tables */

.table-inventory {
  font-size: var(--fs-smol);
  width: 100%;
}

.table-inventory td{
  width: calc(3*var(--indent-size));
  text-align: right;
}

.table-inventory td:first-child{
  width: calc(100% - 2*3*var(--indent-size));
  text-align: left;
}

/* spells */
.spell-style {
  font-size: var(--fs-smol);
  text-indent: calc(-1*var(--indent-size)); /* Removes indent from the first line */
  padding-left: var(--indent-size); /* Indents all lines to the right */
}
